* {
	padding: 0;
	margin: 0;
	font-family: 'Avenir';
}

html, body {
	height: 100%;
	overflow: hidden;
}
body {
	color: white;
	background: #A41C43;
}
header {
	height: 10%;
}
header > div {
	padding: 3px 10px;
	overflow: hidden;
}
main {
	height: 90%;
}

.left {
	float: left;
}
.right {
	float: right;
}
.reset{
	color: #fff;
	text-decoration: none;
}

#wrong_way{
	background: #e8185c;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
  left: 0;
  opacity: 1;
  z-index: 100;
  display: none;
}
#wrong_way .back_lines{
	background: url(../images/lines.png) no-repeat center center;
	background-size: contain;
	width: 100%;
	height: 100%;
	position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
#wrong_way .back_lines .logo{
  width: 90%;
  margin-top: 20%;
}
#wrong_way .back_lines p{
	position: relative;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	padding-bottom: 55px;
}
#wrong_way .back_lines .icon{
  width: 40%;
}