<ion-view title="Fondos">
     <ion-nav-buttons side="left">
         <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
     </ion-nav-buttons>
     <ion-content class="has-header">
	     <div class="contenidoThumbnail" ng-controller="BackgroundController as bgCtrl">
			<div class="list">
				<label class="item item-radio">
			  	  	<input type="radio" name="group" ng-model="bgCtrl.bg" ng-value="1">
			  	  	<div class="item-content">
			  	  		<img src="img/thumbnails/back1.jpg">
			  	  		Nicte Ha
			  	  	</div>
			  	  	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			  	<label class="item item-radio">
			  	  	<input type="radio" name="group" ng-model="bgCtrl.bg" ng-value="2">
			  	  	<div class="item-content">
			  	  		<img src="img/thumbnails/back2.jpg">
			      		Itzayana
			  	  	</div>
			  	  	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			    <label class="item item-radio">
			  	  	<input type="radio" name="group" ng-model="bgCtrl.bg" ng-value="3">
			  	  	<div class="item-content">
			  	  		<img src="img/thumbnails/back3.jpg">
			      		Xareni 
			  	  	</div>
			  	  	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			    <label class="item item-radio">
			  	  	<input type="radio" name="group" ng-model="bgCtrl.bg" ng-value="4">
			  	  	<div class="item-content">
			  	  		<img src="img/thumbnails/back4.jpg">
			      		Ixchel 
			  	  	</div>
			  	  	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			  	<label class="item item-radio">
			  	  	<input type="radio" name="group" ng-model="bgCtrl.bg" ng-value="5">
			  	  	<div class="item-content">
			  	  		<img src="img/thumbnails/back5.jpg">
			      		Itzanami 
			  	  	</div>
			  	  	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			  	<label class="item item-radio">
			  	  	<input type="radio" name="group" ng-model="bgCtrl.bg" ng-value="6">
			  	  	<div class="item-content">
			  	  		<img src="img/thumbnails/back6.jpg">
			      		Atziri
			  	  	</div>
			  	  	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			  	<label class="item item-radio">
			  	  	<input type="radio" name="group" ng-model="bgCtrl.bg" ng-value="7">
			  	  	<div class="item-content">
			  	  		<img src="img/thumbnails/back7.jpg">
			      		Yuritzi 
			  	  	</div>
			  	  	<i class="radio-icon ion-checkmark"></i>
			  	</label>
			</div>
		</div>
     </ion-content>
</ion-view>