/* Empty. Add your own CSS if you like */
/*////////////////////////MENU */
.menu .bar-header{
	background: #6C0B2C;
}
.bar.bar-stable .title{
	color: #fff;
}
.menu .scroll-content{
	background: #A41C43;
}
.list a.item{
	color: #6C0B2C;
	border-bottom: 1px solid;
}
.list .item{
	color: #6C0B2C;
	border-bottom: 1px solid;
}
.toggle.toggle-assertive input:checked+.track {
  	border-color: #6C0B2C;
  	background-color: #6C0B2C;
}
.toggle .track{
	border-color: #B3A5AA;
  	background-color: #B3A5AA;	
}
/*////////////////////////PANTALLA ABACO */
[nav-bar-transition=ios] [nav-bar=entering] .bar, [nav-bar-transition=ios] [nav-bar=active] .bar{
	background: #A41C43;
}
.has-header{
	background: url(../img/back.png)no-repeat;
  	background-size: cover;
}
.bar .button.button-icon{
	color: #fff;
}
[nav-bar-transition=ios] .back-text, [nav-bar-transition=ios] .buttons, [nav-bar-transition=ios] .title{
	color: #fff;
}
.has-header .pageLoad{
	background: #e8185c;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
  	left: 0;
  	opacity: 1;
}
.has-header .pageLoad .back-lines{
	background: url(../img/lines.png)no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
	position: absolute;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	margin: auto;
  	text-align: center;
}
.has-header .pageLoad .back-lines .logo{
  	width: 90%;
  	margin-top: 20%;
}
.has-header .pageLoad .back-lines p{
	position: relative;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	padding-bottom: 55px;
}
.has-header .pageLoad .back-lines .icon{
  	width: 40%;
}
@media screen and (min-width: 480px){
	.pageLoad{
		opacity: 0;
		display: none;
	}
}
